.opa0
	opacity: 0
.inp-anim
	&::after
		width: 100% !important
.active-img
	opacity: 1 !important
	z-index: 10 !important
	width: 100% !important
	height: 100% !important
.servForDev
	.hover-el
		background-color: #E677B9		
.hover-el
	position: relative
	background-color: #21212B
	&::before
		position: absolute
		content: ''
		width: 25px
		height: 20px
		// background: red
		top: 26px
		left: 40px
		background: url(/img/svg/arrow-white.svg) center/cover no-repeat
.accordion-open
	&::after
		border-top: 0px solid #C12D63 !important
		border-bottom: 6px solid #C12D63 !important
.filter-modal-open
	right: 0 !important
@media (max-width: 768px)
	.services .col-left
		img
			display: none
	.active-img
		display: block !important
.bg1
	background: linear-gradient(126.95deg, rgba(193, 45, 99, 1) 0%, rgba(131, 56, 130, 1) 100%)
.bg2
	background: linear-gradient(120.6deg, rgba(193, 45, 99, 1) 22.38%, rgba(131, 56, 130, 1) 92.39%)
.bg3
	background: linear-gradient(94.95deg, rgba(61, 205, 177, 1) 0%, rgba(72, 190, 191, 1) 100%)
.bg4
	background: linear-gradient(94.95deg, rgba(120, 198, 246, 1) 0%, rgba(109, 151, 245, 1) 100%)