@media (max-width: 768px)
	.contact_form
		flex-direction: column
		.col-left, .col-right
			width: 100% !important
		form
			margin-bottom: 50px
		.col-right
			text-align: left
			h3
				text-align: left !important
			.list-3
				ul
					justify-content: flex-start
@media (max-width: 576px)
	.contact .text .desc
		padding-left: 0px
		width: 85%
		margin: 0 auto
	.contact_form
		margin-top: 0px !important
	.case .want span
		font-size: 50px
	.contact_form form
		padding-left: 0
	.contact-title
		margin-top: 54px
	.case .want span
		font-size: 45px
@media (max-width: 375px)
	.case .want span
		font-size: 32px