@media (max-width: 1024px)
	.services .col-left
		img
			object-fit: contain
			visibility: hidden !important
			transition: 0s
		.active-img
			visibility: visible !important
	.main-img
		width: 50%
@media (max-width: 768px)
	.portfol__link, .up
		display: none
	section
		overflow-x: hidden
@media (min-width: 576px)
	#pc
		display: block
	#mob
		display: none
	.mob-footer
		display: none
@media (max-width: 768px)
	.services .want, .servForDev .want
		position: relative !important
		bottom: 0
		left: 0
		margin: 0 auto !important
		margin-top: 20px !important
	.services .col-left
		margin-bottom: 40px
	.servForDev .col-right ul
		margin: 0 auto
	.mob-footer
		position: fixed
		bottom: 0
		z-index: 998
		width: 100%
		background: $g-pink2
		ul
			height: 68px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-around
			align-items: center
			list-style-type: none
			a
				@include mons_500
				font-size: 11px
				line-height: 13px
				text-align: center
				letter-spacing: -0.03em
				text-decoration: none
				color: rgba(255, 255, 255, 0.7)
	section 
		height: auto
	section.main
		background: url(/img/png/img1-half.png) 80%/cover no-repeat
		.main__skills
			overflow-x: scroll
			left: 50%
			width: 100%
			li
				&:hover
					transform: scale(1) translateY(0px) !important
		.x-mark3
			display: none
		.section-h1
			font-size: 36px
			line-height: 46px
		.main-img
			left: 100%
			top: 33%
			width: 70%
		.main__text
			top: 30%
	section.about
		background-color: $c-bg-black
		.list
			flex-direction: column
			.arrow
				justify-content: center
				margin-top: 27px
			.wrp
				margin-bottom: 80px
				&:first-of-type
					margin-top: 70px
	.services, .servForDev
		flex-wrap: wrap
		padding-top: 90px
		flex-direction: column-reverse
		.col-left img
			position: static
			opacity: 1
			display: none
		.col-left
			margin-top: 40px
		.x-mark-wrap,.elips-img
			display: none
	section
		.col-left,.col-right
			width: 100% !important
	.servForDev
		padding-top: 90px
		padding-bottom: 90px
		flex-wrap: wrap
		.arrow
			right: 80px
		.img-inner
			position: static
		.want
			position: relative
			margin-left: 40px
			bottom: unset
			left: unset
			margin-bottom: 30px
			margin-top: 70px
	.portfol
		height: 560px
		.portfol-title
			font-size: 50px
		.want
			right: 35%
	.workTogether
		flex-wrap: wrap
		padding-top: 90px
		.col-right
			height: 500px
			margin-top: 57px
		.link-case
			display: block
			text-align: center
	.footer
		overflow: hidden
		width: 100%
		padding: 90px 20px
		.list-wrap
			flex-direction: column
		&-Img
			right: -60%
		.list-3
			margin-top: 55px
	.servForDev .img-inner
		margin-top: 100px
		text-align: center
	.transparent-text
		display: none
@media (max-width: 576px)
	#pc
		display: none
	#mob
		display: block
	.head
		background-color: $c-bg-black
		top: 0
		margin-top: 0
		padding: 4px 10px
	.head .l::before
		display: none
	.want 
		left: 10px !important
		span
			font-size: 49px
	.workTogether .logo
		width: 80% !important
		height: auto !important
@media (max-width: 375px)
	.footer .list-wrap .list ul
		flex-wrap: wrap
	.link-case
		white-space: unset
	.servForDev__ul
		max-width: 90% !important
	.servForDev .arrow
		right: 40px

