@media (max-width: 1100px)
	.container
		width: 100%
		padding-right: 32px
		padding-left: 32px
@media (max-width: 768px)
	.first
		padding-left: 32px !important
		flex-direction: column
		padding-bottom: 0 !important
		.services
			position: static
			width: 95%
			margin: 0 auto
			transform: translateY(40px)
	section
		padding: $space-xxl 0px !important
	.text-and-media
		.text-block,.img-block
			width: 100% !important
		.container
			flex-direction: column!important