.servForDev
	flex-direction: row-reverse
	background: $c-bg-black
	.arrow
		position: absolute
		right: -80px
		top: 55%
		-webkit-transform: translateY(-50%)
		transform: translateY(-50%)
	.col-left 
		ul
			list-style-type: none
			max-width: 380px
			margin: 0 auto
			li
				margin-top: 25px
	.col-right
		.services__ul
			margin: 0
			box-shadow: 12px 12px 19.2px rgba(11, 4, 19, 0.31), 0px 0px 4.8px rgba(11, 4, 19, 0.15)
			background-color: #21212B
	.want
		position: absolute
		left: 150px
		bottom: 55px
		z-index: 101
		font-size: 50px
		text-decoration: none
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		span
			color: #fff	
			margin-right: 0
			@include mons_600
			font-size: 59px
			line-height: 63px
			letter-spacing: 0.03em
			margin-right: 0px !important
		ul
			li
				img
					opacity: 1
					position: relative
	.img-inner
		position: relative
		top: -100px	
	&__ul
		list-style-type: none
		max-width: 380px
		margin: 0 auto