.workTogether
	background: $g-pink
	.section-h2
		text-transform: unset
		margin-bottom: 20px !important
	.x-mark2
		left: -40%
	.col-left,.col-right
		overflow: hidden
		img
			width: 100%
			position: absolute
			z-index: 1
			height: 100%
	.col-inner
			width: 80%
			margin: 0 auto
			ul
				list-style-type: none
				li
					margin-top: 25px
					// max-width: 380px
					h2
						margin-bottom: 5px
						font-family: Montserrat;
						font-style: normal;
						font-weight: 600;
						font-size: 45px;
						line-height: 110%;
						color: #F2F2F2;
					.description
						position: relative
						z-index: 101
						font-family: Montserrat;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 160%;
						color: #FFFFFF;
	.link-d
		display: block
		margin-top: 50px
		margin-bottom: 90px
	.logo
		width: 396px !important
		position: static !important
		height: 243px !important
		margin: 0 auto
.link-case
	max-width: 650px
	width: 100%
	display: flex
	justify-content: center
	margin: 0 auto
	span
		transition: 0.5s